
#wrapper
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:100%;
}
#wrapper h1
{
 margin-top:50px;
/*  font-size:45px; */
 color:#585858;
}
#wrapper h1 p
{
/*  font-size:20px; */
}
#table_detail
{
 width:100%;
 text-align:left;
 border-collapse: collapse;
 color:#2E2E2E;
 border:black;
}
#table_detail tr:hover
{
 background-color:#F2F2F2;
}
#table_detail td
{
	border:0;
 /* border-left-color: white; */
}
#table_detail tr
{
	border-bottom:1px solid #a7b150;
 /* border-left-col"WebContent/map1.html"or: white; */
}
#table_detail th
{
	border:0;
	/* border-bottom:1px solid #09486b; */
	background-color: rgba(0, 128, 0, 0.18);
 /* border-left-color: white; */
}
#table_detail .hidden_row
{
 display:none;
}


